<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/Masa.Blazor/css/masa-blazor.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    @*#if(!InteractiveAtRoot)*@
    <link rel="stylesheet" href="css/ssr.css" />
    @*#endif*@
    <link rel="stylesheet" href="BlazorWebApp.styles.css" />
    @*#if(useCDN)*@
    @*#if(mdi)*@
    <link rel="stylesheet" href="https://cdn.masastack.com/npm/@("@mdi")/font@7.1.96/css/materialdesignicons.min.css" />
    @*#elseif(md)*@
    <link rel="stylesheet" href="https://cdn.masastack.com/npm/materialicons/materialicons.css" />
    @*#elseif(fa)*@
    <link rel="stylesheet" href="https://cdn.masastack.com/npm/fontawesome/v6.4.0/css/all.min.css" />
    @*#endif*@
    @*#else*@
    @*#if(mdi)*@
    <link rel="stylesheet" href="css/materialdesign/v7.1.96/css/materialdesignicons.min.css" />
    @*#elseif(md)*@
    <link rel="stylesheet" href="css/material/icons.css" />
    @*#elseif(fa)*@
    <link rel="stylesheet" href="css/fontawesome/v6.4.0/css/all.min.css" />
    @*#endif*@
    @*#endif*@
    <ImportMap />
    @*#if (SampleContent)
    <link rel="icon" type="image/png" href="favicon.png" />
    ##endif*@
    @*#if (!InteractiveAtRoot)
    <HeadOutlet />
    ##elseif (UseServer && UseWebAssembly)
    <HeadOutlet @rendermode="@InteractiveAuto" />
    ##elseif (UseServer)
    <HeadOutlet @rendermode="@InteractiveServer" />
    ##else
    <HeadOutlet @rendermode="@InteractiveWebAssembly" />
    ##endif*@
    @*#if (!InteractiveAtRoot)
    <MSsrThemeProvider />
    ##endif*@
</head>

<body>
    @*#if (!InteractiveAtRoot)
    <Routes />
    ##elseif (UseServer && UseWebAssembly)
    <Routes @rendermode="@InteractiveAuto" />
    ##elseif (UseServer)
    <Routes @rendermode="@InteractiveServer" />
    ##else
    <Routes @rendermode="@InteractiveWebAssembly" />
    ##endif*@
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Masa.Blazor/js/masa-blazor.js"></script>
</body>

</html>